<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#212121" media="(prefers-color-scheme: dark)">
<title>{{ settings.siteName }}</title>
<link rel="author" href="/humans.txt">
<link rel="me" href="{{ settings.fedi.link }}">
<meta name="fediverse:creator" content="{{ settings.fedi.account }}">
<meta name="generator" content="{{ eleventy.generator }}">
<link rel="icon" href="/favicon.ico"/>
<link rel="stylesheet" href="/assets/css/main.css?v={{ settings.version }}">
<script src="/assets/js/vendor/prism.js?v={{ settings.version }}" defer></script>
<link rel="alternate" type="application/rss+xml" title="RSS Feed | Sidiostedalimones" href="https://sidiostedalimones.com/rss.xml">


{% if pageType === 'page' %}
  <meta property="og:title" content="{{ settings.siteName }}">
  <meta property="og:description" content="{{ settings.siteDescription }}">
  <meta property="og:image" content="{{ settings.url }}/assets/images/brand/og-logo-sidiostedalimones.png">
  <meta property="og:image:secure_url" content="{{ settings.url }}{{ settings.og.home.img }}">
	<meta property="og:image:alt" content="{{ settings.og.home.alt }}" />
{% else %}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ excerpt }}">
  <meta property="og:image" content="{{ settings.url }}{{ page.url}}img/{{ featured_image }}">
  <meta property="og:image:secure_url" content="{{ settings.url }}{{ page.url}}img/{{ featured_image }}">
	<meta property="og:image:alt" content="{{ featured_alt }}" />
{% endif %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ settings.siteName }}",
    "alternateName": "{{ settings.long_name }}",
    "url": "{{ settings.url }}"
  }
</script>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/Brand",
    "@type": "Thing",
    "name": "{{ settings.siteName }}",
    "logo": "{{ settings.url }}/assets/images/brand/logo-sidiostedalimones.png",
    "subjectOf": "CreativeWork"
  }
</script>

{% if pageType === 'post' %}
  <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ settings.url }}{{ page.url}}"
    },
    "headline": "{{ title }}",
    "image": [
        "{{ settings.url }}{{ page.url}}img/{{ featured_image }}"
    ],
    "datePublished": "{{ date.toISOString() }}",
    "author": {
        "@type": "Person",
        "name": "{{ settings.author}}"
        "sameAs": "{{ settings.twitter }}",
        "email": "{{ settings.email }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ settings.suteName }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ settings.url }}/assets/images/brand/logo-sidiostedalimones.png",
        }
    },
    "description": "{{ excerpt }}"
  }
  </script>
{% endif %}
