<header class="page__header header">
  <div class="wrapper">
    <a href="/" class="header__brand">
      <div class="brand">{{ settings.siteName }}</div>
    </a>
  </div>

  {# {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
  listElement: 'ul',
  listItemElement: 'li',
  listClass: 'menu',
  listItemClass: 'menu__item',
  anchorClass: 'menu__link'
}) | safe }} #}
</header>