.brand {
	align-items: center;
	column-gap: rem(8);
	display: flex;
	font-size: rem(16);
	font-weight: $font-semibold;
	line-height: lh(24, 16);
	transform-origin: left center;

	@include mq($bp-tablet) {
		@include font(h4);

		column-gap: rem(10);

		&::before {
			height: rem(32);
			width: rem(40);
		}
	}
  
	@include mq($bp-desktop) {
		@include font(h3);

		column-gap: rem(15);

		&::before {
			height: rem(48);
			width: rem(60);
		}
	}

	&::before {
		background: img('lemon.svg', $theme-brand) left top no-repeat;
		background-size: 100% auto;
		content: '';
		display: inline-block;
		height: rem(24);
		width: rem(30);
	}
}
