// ***
//  Stylesheet _home-post.scss
//
//  Table of Contents:
//    1. Home
//    2. Posts
//    3. Grid
//
// ***





// 1. Home
// ---
.home-posts__content {
	grid-area: content;
}

.home-posts__items {
	@extend %unlist;
}

.home-posts__item {
	& + .home-posts__item {
		margin-top: rem($unit * 2);

		@include mq($bp-tablet-v) {
			margin-top: 0;
		}
	}
}

.home-posts {
	margin-top: rem($unit * 2);

	@include mq($bp-desktop) {
		margin-top: rem($unit * 3);
	}
}

.home-posts__year {
	border: 1px solid $color-athens-gray;
	height: rem($unit * 6);
	margin-bottom: rem($unit * 2);
	display: flex;
	align-items: flex-end;
	padding: 0 rem($unit);
	box-sizing: border-box;
	@include font(h2);

	@include mq($bp-tablet-v) {
		height: rem($unit * 7);
	}

	@include mq($bp-desktop) {
		height: rem($unit * 8);
		margin-bottom: rem($unit * 3);
	}
}





// 2. Posts
// ---
.home-post {
	min-height: rem($unit * 15);
	height: 100%;
}
.home-post__link {
	background: $color-tangerine;
	display: block;
	height: 100%;
	min-height: inherit;
	position: relative;
}

.home-post__title {
	@include font(gridTitle);

	bottom: rem($post-title-offset);
	box-sizing: border-box;
	margin: 0;
	padding: rem($unit);
	position: absolute;
	right: 0;
	text-align: right;
	width: 100%;
	z-index: 1;

	@include mq($bp-tablet-v) {
		bottom: rem($post-title-offset-tablet);
	}
}


.home-post__mark {
	@include mark();
}

.home-post__cover {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}


.home-post--draft {
	// TODO: pending
}

.home-post--future {
	// TODO: pending
}

.home-post--no-img {
	// TODO: pending
}

.home-post--featured .home-post__title {
	@include mq($bp-desktop) {
		@include font(gridTitleLG)
	}
}





// 3. Grid
// ---
@include mq($bp-tablet-v) {
	.home-posts {
		.home-posts__items {
			display: grid;
			gap: rem($page-gap);
			grid-auto-rows: rem(120);
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: rem(120);
		}


		.home-posts__item {
			grid-column: span 2;
		}
	}
}
@media (min-width: em($bp-tablet-v)) and (max-width: em($bp-desktop - 1)) {
	.home-posts--latest {
		.home-posts__items {
			grid-template-rows: rem(200);
		}

		.home-posts__item {
			grid-row: span 2;

			&:nth-child(1) {
				grid-column: span 2;
			}

			&:nth-child(2) {
				grid-column: span 2;
			}
		}
	}

	.home-posts--2022 {
		.home-posts__item:nth-child(2n + 2) {
			grid-row: span 2;
		}

		.home-posts__item:nth-last-child(1) {
			grid-row: span 1;
		}

		.home-posts__item:nth-last-child(2) {
			grid-row: span 2;
		}

		.home-posts__item:nth-last-child(3) {
			grid-row: span 1;
		}

		.home-posts__item:nth-last-child(4) {
			grid-row: span 2;
		}
	}

	.home-posts--2021 {
		.home-posts__item:nth-child(1) {
			grid-row: span 2;
		}
	}
}

@include mq($bp-desktop) {
	.home-posts {
		.home-posts__items {
			gap: rem($page-gap-desktop);
			grid-auto-rows: rem(136);
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: rem(136);
		}
	}

	.home-posts--latest {
		.home-posts__items {
			grid-template-rows: rem(312);
		}

		.home-posts__item {
			&:nth-child(1) {
				grid-column: span 4;
			}
			&:nth-child(2) {
				grid-column: span 2;
			}
		}
	}

	.home-posts--2022 {
		.home-posts__item {
			&:nth-child(1) {
				grid-row: span 2;
				grid-column: span 4;
			}
			&:last-child {
				grid-row: 2 / 4;
				grid-column: 5 / 7;
			}
		}
	}
}
