// HOME
.home-posts__content {
	grid-area: content;
}

.home-posts__items {
	@extend %unlist;
}

.home-posts__item {
	& + .home-posts__item {
		margin-top: rem($unit * 2);

		@include mq($bp-tablet-v) {
			margin-top: 0;
		}
	}
}

.home-posts {
	margin-top: rem($unit * 2);

	@include mq($bp-desktop) {
		margin-top: rem($unit * 3);
	}
}

.home-posts__year {
	border: 1px solid $color-athens-gray;
	height: rem($unit * 6);
	margin-bottom: rem($unit * 2);
	display: flex;
	align-items: end;
	padding: 0 rem($unit);
	box-sizing: border-box;
	@include font(h2);

	@include mq($bp-tablet-v) {
		height: rem($unit * 7);
	}

	@include mq($bp-desktop) {
		height: rem($unit * 8);
		margin-bottom: rem($unit * 3);
	}
}




// POST
.home-post {
	height: rem($unit * 19);
}
.home-post__link {
	background: $color-tangerine;
	display: block;
	height: 100%;
	position: relative;
}

.home-post__title {
	@include font(gridTitle);

	bottom: rem($post-title-offset);
	box-sizing: border-box;
	margin: 0;
	padding: rem($unit);
	position: absolute;
	right: 0;
	text-align: right;
	width: 100%;
	z-index: 1;

	@include mq($bp-tablet-v) {
		bottom: rem($post-title-offset-tablet);
	}
}


.home-post__mark {
	background-color: $color-black;
	color: $color-white;
	box-decoration-break: clone;
	padding: rem(2.5) rem($unit);
}

.home-post__cover {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}


.home-post--draft {
	//
}

.home-post--future {
	//
}

.home-post--no-img {
	//
}

.home-post--featured .home-post__title {
	@include mq($bp-desktop) {
		@include font(gridTitleLG)
	}
}
