// POST
.post {
	@include font(p);

	.content__inner {
		position: relative;
	}
}

.post__link {
	color: inherit;
	display: block;
	position: relative;
	text-decoration: none;

	&:hover {
		&::before {
			background-color: mix($color-yellow-orange-juice, $color-yellow-sea);
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			top: 0;
			transform: translateX(rem($page-gutter * -1));
			width: rem(5);
		}
	}
}

.post__meta {
	@include font(small);

	column-gap: rem(5);
	display: flex;

	.post .content & {
		margin-bottom: rem(30);
	}
}


.post__reading-time {
	align-items: center;
	display: flex;
	vertical-align: middle;

	&::before {
		background: img('icons/timer.svg') left top no-repeat;
		background-size: rem(20);
		content: '';
		display: block;
		height: rem(20);
		width: rem(20);
	}
}

.post__back {
	background: img('icons/back.svg') left top no-repeat;
	background-size: rem(30);
	display: block;
	height: rem(1);
	left: 0;
	opacity: .5;
	overflow: hidden;
	padding: rem(29) 0 0;
	position: absolute;
	top: rem(10);
	transform: translate(-100%);
	width: rem(30);
	z-index: 100000;

	@include mq($bp_desktop) {
		margin-left: rem(-10);
		top: rem(15);
	}
}

.post__title {
	@include font(h3);

	margin: 0;
}

.post__cover {
	margin-bottom: rem(20);

	@include mq($bp_tablet) {
		margin-bottom: rem(40);
	}
}

.post__featured-image {
	display: block;
	width: 100%;
}

.post--entry {
	@include font(p);

	p,
	ul,
	ol,
	pre,
	blockquote,
	hr {
		margin-bottom: rem(30);
		margin-top: rem(30);

		@include mq($bp-desktop) {
			margin-bottom: rem(40);
			margin-top: rem(40);
		}
	}

	h1 {
		@include font(h1);
	}

	h2 {
		@include font(h2);

		margin-bottom: rem(-20);
		margin-top: rem(50);
	}

	h3 {
		@include font(h3);

		margin-bottom: rem(-20);
		margin-top: rem(50);
	}

	h4 {
		@include font(h4);

		margin-bottom: rem(-20);
		margin-top: rem(40);
	}

	h5 {
		@include font(h4);

		margin-bottom: rem(-20);
		margin-top: rem(40);
	}

	h6 {
		@include font(h4);

		margin-bottom: rem(-20);
		margin-top: rem(40);
	}

	a {
		color: inherit;
		color: $color-link;
		text-decoration: none;
	}

	li {
		padding-left: .5em;
	}

	ol {
		li::marker {
			color: mix($color-black, $color-white, 55%);
			font-size: .85em;
			font-style: italic;
		}
	}

	ul {
		li::marker {
			color: mix($color-black, $color-white, 45%);
			font-size: .75em;
		}
	}

	hr {
		border: 0;
		text-align: center;

		&::before {
			color: mix($color-black, $color-white, 35%);
			content: '---';
			letter-spacing: rem(2);
		}
	}

	blockquote {
		margin-left: 0;
		margin-right: 0;
		padding: rem(40);
		position: relative;

		&::before {
			background-color: $color-yellow-orange-juice;
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: rem(5);
		}

		p {
			margin: 0;
		}
	}

	p > img {
		border-radius: rem(4);
		width: 100%;
	}
}


.post__footer {
	margin: rem(40) 0 rem(80);
	text-align: center;

	@include mq($bp_desktop) {
		margin: rem(50) 0 rem(100);
	}

	.wrapper {
		@include grid();
	}
}

.post__ya {
	width: rem(50);
}
