// POST
.post {
  @include font(p);

  .content__inner {
    position: relative;
  }
}

.post__link {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;

  &:hover {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: rem(5);
      background-color: mix($color-yellow-orange-juice, $color-yellow-sea);
      transform: translateX(rem($page-gutter * -1));
    }
  }
}

.post__meta {
  @include font(small);

  display: flex;
  column-gap: rem(5);

  .post .content & {
    margin-bottom: rem(30);
  }
}
.post__published-date { }

.post__reading-time {
  display: flex;
  align-items: center;
  vertical-align: middle;

  &::before {
    content: '';
    background: img('icons/timer.svg') left top no-repeat;
    background-size: rem(20);
    width: rem(20);
    height: rem(20);
    display: block;
  }
}

.post__back {
  position: absolute;
  background: img('icons/back.svg') left top no-repeat;
  background-size: rem(30);
  left: 0;
  top: rem(10);
  width: rem(30);
  height: rem(1);
  padding: rem(29) 0 0;
  overflow: hidden;
  transform: translate(-100%);
  opacity: .5;
  z-index: 100000;
  display: block;

  @include mq($bp_desktop) {
    top: rem(15);
    margin-left: rem(-10);
  }
}

.post__title {
  margin: 0;
  @include font(h3);
}

.post__cover {
  margin-bottom: rem(20);

  @include mq($bp_tablet) {
    margin-bottom: rem(40);
  }
}

.post__featured-image {
  width: 100%;
  display: block;
}

.post--entry {

  @include font(p);

  p,
  ul,
  ol,
  pre,
  blockquote,
  hr {
    margin-top: rem(30);
    margin-bottom: rem(30);
		
		@include mq($bp-desktop) {
			margin-top: rem(40);
      margin-bottom: rem(40);
		}
  }

  h1 {
    @include font(h1);
  }
  
  h2 {
    @include font(h2);

    margin-top: rem(50);
    margin-bottom: rem(-20);
  }
  
  h3 {
    @include font(h3);

    margin-top: rem(50);
    margin-bottom: rem(-20);
  }
  
  h4 {
    @include font(h4);

    margin-top: rem(40);
    margin-bottom: rem(-20);
  }
  
  h5 {
    @include font(h4);

    margin-top: rem(40);
    margin-bottom: rem(-20);
  }
  
  h6 {
    @include font(h4);

    margin-top: rem(40);
    margin-bottom: rem(-20);
  }

  a {
    color: inherit;
    text-decoration: none;
    color: $color-link;
  }

  li {
    padding-left: .5em;
  }
  
  ol {
    li::marker {
      font-size: .85em;
      font-style: italic;
      color: mix($color-black, $color-white, 55%);
    }
  }

  ul {
    li::marker {
      font-size: .75em;
      color: mix($color-black, $color-white, 45%);
    }
  }
  
  hr {
    border: 0;
    text-align: center;
    
    &::before {
      content: '---';
      color: mix($color-black, $color-white, 35%);
      letter-spacing: rem(2);
    }
  }

  blockquote {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding: rem(40);
    
    &::before {
      content: '';
      width: rem(5);
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: $color-yellow-orange-juice;
    }

    p {
      margin: 0;
    }
  }

  p > img {
    width: 100%;
    border-radius: rem(4);
  }
}


.post__footer {
  text-align: center;
  margin: rem(40) 0 rem(80);

  
  @include mq($bp_desktop) {
    margin: rem(50) 0 rem(100);
  }
}
.post__ya {
  width: rem(50);
}