// ***
//  Stylesheet _post.scss
//
//  Table of Contents:
//    0. @use
//    1. Header
//    2. Content
//    3. Images
//    4. HR
//    5. TL;DR
//    6. Quotes
//    7. YA image
//    8. Word
//    9. Dialogue
//    10. Table
//    11. Panel
//    12. Gallery grid
//    13. Oda
//    14. Preview card
//    15. ColumnList
//
// ***

// 0. @use
// ---
@use "core/core";

// 1. Header
// ---
.post__header {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: core.rem(core.$unit * 3);

	@include core.mq(core.$bp-tablet-v) {
		margin-bottom: core.rem(core.$unit * 4);
	}

	@include core.mq(core.$bp-desktop) {
		margin-bottom: core.rem(core.$unit * 5);
	}

	.content__inner {
		position: relative;
	}
}

.post__cover {
	background-color: core.$color-tangerine;
}

.post__featured-image {
	width: 100%;
	display: block;
}

.post__cover--no-img {
	min-height: core.rem(core.$unit * 32);
}

.post__title {
	@include core.font(h1);
}

.post__title-mark {
	display: flex;
	flex-wrap: wrap;
}

.post__title-mark-item {
	background-color: core.$color-black;
	color: core.$color-white;
	padding: 0 core.rem(5);
}

.post__back {
	position: absolute;
	background: core.img("back.svg", core.$theme-icons) center no-repeat
		core.$color-athens-gray;
	top: 0;
	left: 0;
	width: core.rem(24);
	height: core.rem(1);
	padding-top: core.rem(35);
	overflow: hidden;
	transform: translateX(-100%);

	@include core.mq(core.$bp-tablet-v) {
		padding-top: core.rem(50);
		width: core.rem(52);
	}

	@include core.mq(core.$bp-desktop) {
		padding-top: core.rem(72);
		width: core.rem(73);
	}
}

.post__meta {
	@include core.font(meta);
}

.post__meta-time {
	margin: core.rem(core.$unit * 2) 0 0;

	@include core.mq(core.$bp-desktop) {
		margin-top: core.rem(core.$unit * 3);
	}
}

.post__published-date {
	margin-right: core.rem(core.$unit * 2 - 4);

	@include core.mq(core.$bp-desktop) {
		margin-right: core.rem(core.$unit * 3 - 4);
	}
}

.post__reading-time {
	background: core.img("timer.svg", core.$theme-icons) left center no-repeat;
	background-size: core.rem(16);
	padding-left: core.rem(20);
}

.post__reading-time-abbr {
	text-decoration-color: core.$color-correct-blue;
}

.post__credits {
	margin: core.rem(core.$unit) 0 0;

	.post__link {
		color: inherit;
		text-decoration: underline core.$color-correct-blue;
		transition: color ease 0.3s;

		&:hover {
			color: core.$color-correct-blue;
		}
	}
}

// 2. Content
// ---
.post__content h2 {
	@include core.font(h2);

	& {
		margin: core.rem(core.$unit * 6) 0 core.rem(core.$unit * 3);
	}

	@include core.mq(core.$bp-tablet-v) {
		margin-top: core.rem(core.$unit * 7);
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 9) 0 core.rem(core.$unit * 4);
	}
}

.post__content h3 {
	@include core.font(h3);

	& {
		margin: core.rem(core.$unit * 4) 0 core.rem(core.$unit * 3);
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 8) 0 core.rem(core.$unit * 4);
	}
}

.post__content h4 {
	@include core.font(h4);

	& {
		margin: core.rem(core.$unit * 3) 0 core.rem(core.$unit * 2);
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 7) 0 core.rem(core.$unit * 3);
	}
}

.post__content > p,
.post__content > ul,
.post__content > ol,
.post__content > blockquote {
	@include core.font(paragraph);

	& {
		margin: 0 0 core.rem(core.$unit * 3);
	}

	@include core.mq(core.$bp-desktop) {
		margin-bottom: core.rem(core.$unit * 4);
	}
}

.post__content ul,
.post__content ol {
	li::marker {
		color: core.$color-link;
	}
}

.post__content pre {
	margin: 0 0 core.rem(core.$unit * 3);

	@include core.mq(core.$bp-desktop) {
		margin-bottom: core.rem(core.$unit * 4);
	}
}

.post__content > blockquote:not(.post__quote-block) {
	margin: core.rem(core.$unit * 3) 0;
	padding: core.rem(calc(core.$unit * 3 / 2)) 0 core.rem(core.$unit * 3);
	position: relative;
	text-align: center;

	@include core.mq(core.$bp-tablet-v) {
		margin: core.rem(core.$unit * 4) 0;
		padding: core.rem(core.$unit * 3);
		grid-area: content;
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 7) 0;
		padding: core.rem(core.$unit * 4);
	}

	&::before {
		background: core.$color-quote-bg;
		content: "";
		height: 100%;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		width: 100vw;
		pointer-events: none;
		z-index: -1;
	}

	& > p {
		@include core.font(quote);

		& {
			margin: 0;
		}
	}
}

.post__content:not(.post__content--no-featured) > p:first-of-type {
	@include core.font(bigParagraph);
}

.post__content > *:last-child {
	margin-bottom: 0;
}

.post__content a {
	color: core.$color-link;
}

// 3. Images
// ---
.post__media {
	margin: core.rem(core.$unit * 4) 0;

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 5) 0;
	}
}

.post__media-image {
	display: block;
	max-width: 100%;
	width: 100%;
}

.post__media-caption {
	@include core.font(meta);

	& {
		margin-top: core.rem(core.$unit);
		text-align: center;
	}
}

.post__media--center {
	.post__media-image,
	.post__media-caption {
		margin-left: auto;
		margin-right: auto;
	}
}

.post__media--mini {
	margin: core.rem(core.$unit * 3) 0;

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 4) 0;
	}

	.post__media-image {
		max-width: core.rem(core.$unit * 12);
	}
}

.post__media--iframe {
}

// 4. HR
// ---
.post__content hr {
	border: 0;
	width: core.rem(core.$unit * 4);
	height: core.rem(core.$unit * 4);
	background: core.img("divider.svg", core.$theme-icons) center no-repeat
		core.$color-graphic-block;
	margin: core.rem(core.$unit * 3) auto;

	@include core.mq(core.$bp-tablet-v) {
		margin: core.rem(core.$unit * 4) auto;
	}
}

// 5. TL;DR
// ---
.post__tldr {
	margin: 0 0 core.rem(core.$unit * 3);
	display: grid;
	grid-template-columns: core.rem(83) 1fr;
	column-gap: core.rem(core.$unit * 2);

	@include core.mq(core.$bp-tablet-v) {
		margin: 0 0 core.rem(core.$unit * 4);
		grid-template-columns: repeat(4, 1fr);
	}

	@include core.mq(core.$bp-desktop) {
		grid-template-columns: repeat(6, 1fr);
		column-gap: core.rem(core.$unit * 3);
		margin: 0 0 core.rem(core.$unit * 5);
	}

	p + & {
		margin: core.rem(core.$unit * 3) 0;

		@include core.mq(core.$bp-tablet-v) {
			margin: core.rem(core.$unit * 4) 0;
		}

		@include core.mq(core.$bp-desktop) {
			margin: core.rem(core.$unit * 5) 0;
		}
	}
}

.post__tldr-caption {
	@include core.font(tldrIcon);

	& {
		background-color: core.$color-graphic-block;
		color: core.$color-tldr-text;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: core.rem(core.$unit * 2);
		margin-left: core.rem(core.$unit * -3);
		min-height: core.rem(core.$unit * 6);
	}

	@include core.mq(core.$bp-tablet-v) {
		justify-content: center;
		padding-right: 0;
		margin-left: 0;
		min-height: core.rem(core.$unit * 7);
	}

	@include core.mq(core.$bp-desktop) {
		grid-column: span 2;
		min-height: core.rem(core.$unit * 9);
	}
}

.post__tldr-content {
	@include core.font(tldrParagraph);

	& {
		display: flex;
		align-items: center;
	}

	@include core.mq(core.$bp-tablet-v) {
		grid-column: span 3;
	}

	@include core.mq(core.$bp-desktop) {
		grid-column: span 4;
	}
}

.post__tldr-paragraph {
	margin: 0;
}

.post__tldr-paragraph + .post__tldr-paragraph {
	margin-top: 1em;
}

// 6. Quotes
// ---
.post__quote {
	margin: core.rem(core.$unit * 3) 0;
	padding: core.rem(calc(core.$unit * 3 / 2)) 0 core.rem(core.$unit * 3)
		core.rem(core.$unit * 3);
	position: relative;

	@include core.mq(core.$bp-tablet-v) {
		margin: core.rem(core.$unit * 4) 0;
		padding: core.rem(core.$unit * 3) 0 core.rem(core.$unit * 3)
			core.rem(core.$unit * 9);
		grid-area: content;
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 7) 0;
		padding: core.rem(core.$unit * 4) 0 core.rem(core.$unit * 4)
			core.rem(core.$unit * 11);
	}

	&::before {
		background: core.$color-quote-bg;
		content: "";
		height: 100%;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		width: 100vw;
		pointer-events: none;
		z-index: -1;
	}

	&::after {
		content: "";
		background: core.img("quotes.svg", core.$theme-icons) left bottom no-repeat
			core.$color-black;
		background-size: 100% auto;
		position: absolute;
		left: 0;
		top: 0;
		width: core.rem(core.$unit * 3);
		height: core.rem(calc((core.$unit * 3) + (core.$unit * 3) / 2));
		transform: translateX(-50%);

		@include core.mq(core.$bp-tablet-v) {
			width: core.rem(core.$unit * 6);
			height: core.rem(core.$unit * 7);
			transform: translateX(0);
		}

		@include core.mq(core.$bp-desktop) {
			width: core.rem(core.$unit * 7);
			height: core.rem(core.$unit * 8);
		}
	}
}

.post__quote-block {
	@include core.font(quote);

	& {
		margin: 0;
	}
}

.post__quote-paragraph {
	margin: 0;
}

.post__quote-paragraph + .post__quote-paragraph {
	margin-top: 1em;
}

.post__quote-caption {
	@include core.font(quoteAuthor);

	& {
		margin-top: core.rem(core.$unit);
		text-align: end;
	}

	@include core.mq(core.$bp-tablet-v) {
		margin-top: core.rem(core.$unit * 2);
	}

	@include core.mq(core.$bp-desktop) {
		margin-top: core.rem(core.$unit);
	}
}

// 7. YA image
// ---
.post__ya {
	margin: core.rem(core.$unit * 6) 0 core.rem(core.$unit * 10);
	text-align: center;

	@include core.mq(core.$bp-tablet-v) {
		margin: core.rem(core.$unit * 7) 0 core.rem(core.$unit * 10);
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 8) 0 core.rem(core.$unit * 12);
	}
}

.post__ya-image {
	width: core.rem(core.$unit * 7);
	height: core.rem(core.$unit * 7);
}

// 8. Word
// ---
.post__word {
	margin: core.rem(core.$unit * 3) 0;
	padding: 0 0 0 core.rem(core.$unit * 2);
	position: relative;
	@include core.font(paragraph);

	@include core.mq(core.$bp-tablet-v) {
		margin: core.rem(core.$unit * 4) 0;
		padding: 0 0 0 core.rem(core.$unit * 3);
		grid-area: content;
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 7) 0;
		padding: 0 0 0 core.rem(core.$unit * 5);
	}

	&::before {
		background: core.$color-white;
		border-left: core.rem(calc(core.$unit / 2)) solid core.$color-correct-blue;
		box-sizing: border-box;
		content: "";
		height: 100%;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		width: 100%;
		pointer-events: none;
		z-index: -1;
	}

	abbr {
		color: core.$color-correct-blue;
	}
}

.post__word-content {
}

.post__word-title {
	@include core.font(h1);
	& {
		display: flex;
		align-items: center;
		gap: core.rem(core.$unit);
	}

	&::before {
		content: "";
		width: core.rem(core.$unit * 3);
		height: core.rem(core.$unit * 3);
		background: core.img("book-white.svg", core.$theme-icons) center no-repeat
			core.$color-correct-blue;
		background-size: 60% auto;
		display: block;
		border-radius: 50%;

		@include core.mq(core.$bp-tablet-v) {
			width: core.rem(core.$unit * 4);
			height: core.rem(core.$unit * 4);
		}

		@include core.mq(core.$bp-desktop) {
			width: core.rem(core.$unit * 5);
			height: core.rem(core.$unit * 5);
		}
	}
}

.post__word-note {
	margin-inline-start: core.rem(core.$unit * 4);
	font-style: italic;
	margin-block: core.rem(core.$unit);
	color: core.$color-correct-blue;

	@include core.mq(core.$bp-tablet-v) {
		margin-inline-start: core.rem(core.$unit * 5);
	}

	@include core.mq(core.$bp-desktop) {
		margin-inline-start: core.rem(core.$unit * 6);
	}
}

.post__word-definition {
	margin-inline-start: core.rem(core.$unit * 8);
	margin-block-start: core.rem(core.$unit * 3);
	position: relative;
	counter-increment: section;

	@include core.mq(core.$bp-tablet-v) {
		margin-inline-start: core.rem(core.$unit * 9);
	}
	@include core.mq(core.$bp-desktop) {
		margin-inline-start: core.rem(core.$unit * 11);
	}

	&::before {
		content: counter(section) ".";
		color: core.$color-correct-blue;
		position: absolute;
		inset-inline-start: 0;
		transform: translateX(calc((100% + (core.$unit * 1px)) * -1));
	}
}

.post__word-synonyms {
	margin-inline-start: core.rem(core.$unit * 4);
	margin-block-start: core.rem(core.$unit * 4);

	@include core.mq(core.$bp-tablet-v) {
		margin-inline-start: core.rem(core.$unit * 5);
	}

	@include core.mq(core.$bp-desktop) {
		margin-inline-start: core.rem(core.$unit * 6);
	}
}

// 9. Dialogue
// ---
.post__dialogue {
	@include core.font(paragraph);

	& {
		background-color: core.$color-chat-1;
		border-radius: core.rem(core.$unit * 1.5);

		margin: core.rem(core.$unit * 3) 0;
		padding: core.rem(calc(core.$unit * 4));
		position: relative;
	}

	@include core.mq(core.$bp-tablet-v) {
		margin: core.rem(core.$unit * 4) 0;
		padding: core.rem(core.$unit * 5);
		grid-area: content;
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 5) 0;
		padding: core.rem(core.$unit * 6);
	}
}

.post__dialogue-item {
	margin: 0;
	display: flex;
	column-gap: core.rem(core.$unit);
	align-items: flex-end;
}

.post__dialogue-user {
	height: core.rem(1);
	overflow: hidden;
	width: core.rem(core.$unit * 5);
	padding-top: core.rem(core.$unit * 5);
	background: core.$color-correct-blue;
	border-radius: 50%;
	display: block;
	flex-shrink: 0;

	@include core.mq(core.$bp-desktop) {
		width: core.rem(core.$unit * 6);
		padding-top: core.rem(core.$unit * 6);
	}
}

.post__dialogue-user--chuck {
	background: core.img("avatar-chuck.png", core.$theme-chat) center no-repeat
		core.$color-white;
	background-size: cover;
}

.post__dialogue-text {
	background-color: core.$color-white;
	border-radius: core.rem(core.$unit * 2);
	padding: core.rem(core.$unit) core.rem(core.$unit * 1.5);
	position: relative;

	&::before {
		content: "";
		background: core.img("dialog-arrow.svg", core.$theme-chat) right bottom
			no-repeat;
		width: core.rem(15);
		height: core.rem(15);
		position: absolute;
		bottom: 0;
		left: 0;
		transform: translateX(-57%);
	}
}

.post__dialogue-item + .post__dialogue-item {
	margin-block-start: 1rem;
	place-content: flex-end;

	.post__dialogue-user--chuck {
		order: 1;
	}
	.post__dialogue-text {
		text-align: right;
		&::before {
			left: 100%;
			transform: scale(-1, 1) translateX(45%);
		}
	}
}

// 10. Table
// ---
.post__content {
	& table {
		@include core.font(paragraph);

		& {
			border-collapse: collapse;
			margin: 0;
			padding: 0;
			border-radius: 8px;
			border-radius: 8px;
			margin: core.rem(core.$unit * 4) 0;
		}

		@include core.mq(core.$bp-desktop) {
			margin: core.rem(core.$unit * 5) 0;
		}
	}

	& th,
	& td {
		border: 1px solid core.$color-light-border;
		text-align: left;
		padding: core.rem(4) core.rem(16) core.rem(4) core.rem(8);
	}

	& th {
		background-color: rgba(core.$color-light-border, 0.2);
	}
}

// 11. Panel
// ---
.post__panel {
	@include core.font(paragraph);

	& {
		background: rgba(core.$color-athens-gray, 0.25);
		margin: core.rem(core.$unit * 3) 0;
		border-radius: core.rem(core.$unit * 1.2);
		padding: core.rem(calc(core.$unit * 2));
		position: relative;
		display: grid;
		grid-template-columns: auto 1fr;
		gap: core.rem(core.$unit * 1.5);
	}

	@include core.mq(core.$bp-tablet-v) {
		margin: core.rem(core.$unit * 4) 0;
		padding: core.rem(core.$unit * 3);
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 7) 0;
		padding: core.rem(core.$unit * 4);
	}
}

.post__panel-icon {
}

.post__panel-content {
}

.post__panel-line {
	margin: 0;

	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

.post__panel--info {
	background-color: rgba(core.$color-at-sign, 0.1);
}

.post__panel--warning {
	background-color: rgba(core.$color-tangerine, 0.15);
}

.post__panel--dont {
	background-color: rgba(core.$color-safety-orange, .5);
}

.post__panel--unicorn {
	background-color: rgba(deeppink, 0.25);
}

.post__panel--custom-icon {
	&::before {
		content: unset;
	}
}

// 12. Gallery grid
// ---
.post__gallery-grid {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: core.rem(core.$unit);
	margin: core.rem(core.$unit * 4) 0;

	@include core.mq(core.$bp_tablet-h) {
		grid-template-columns: repeat(4, 1fr);
		grid-column: span 2;
		gap: core.rem(core.$unit * 2);
	}

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 5) 0;
		gap: core.rem(core.$unit * 3);
	}
}
.post__gallery-grid__item {
	img {
		display: block;
		width: 100%;
	}
	&.--col-2 {
		grid-column: span 2;
	}
	&.--col-4 {
		grid-column: span 2;

		@include core.mq(core.$bp_tablet-h) {
			grid-column: span 4;
		}
	}
}





// 13. Oda
// ---
.post__oda {
	font-family: inherit;
	margin: core.rem(core.$unit * 4) 0;
	background-image: linear-gradient(
		rgba(core.$color-dev-green-sheen, 0.25) 1px,
		transparent 1px
	);
	background-size: 100% core.rem(32);
	padding-inline-start: 1em;
	padding-block-end: 0.1em;

	@include core.mq(core.$bp-desktop) {
		margin: core.rem(core.$unit * 5) 0;
		background-size: 100% core.rem(40);
	}

		@include core.font(paragraph);

		& {
		line-height: core.rem(32);
		}

		@include core.mq(core.$bp-desktop) {
			line-height: core.rem(40);

		}

}





// 14. Preview card
// ---
.post__preview-card {
	max-width: core.rem(500);
	margin-inline: auto;
	box-shadow: 0 0 core.rem(core.$unit * 1.5) rgba(black, 0.2);
	line-height: 1;
	overflow: hidden;
	border: 1px solid core.$color-athens-gray;
	transition: box-shadow ease 0.5s;
	position: relative;
	margin-block: core.rem(core.$unit * 4);

	@include core.mq(core.$bp-desktop) {
		margin-block: core.rem(core.$unit * 5);
	}

	&:hover {
		.post__preview-card {
			box-shadow: 0 0 core.rem(core.$unit * .2) rgba(black, 0.15), 0 2px core.rem(core.$unit * 1.5) rgba(black, 0.25);
		}
		.post__preview-card-media {
			opacity: .9;
		}
		.post__preview-card-title {
			color: core.$color-link;
		}
	}
}

.post__preview-card-inner {
	padding: core.rem(core.$unit);
	display: flex;
	flex-direction: column;
}

.post__preview-card-title {
	order: 1;
	margin: 0 !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em !important;
	line-height: 1.1 !important;
	transition: color ease 0.3s;

	@include core.mq(core.$bp-tablet-v) {
		font-size: 1.2em !important;
	}
}

.post__preview-card-preview {
	background-color: core.$color-tangerine;
	margin: core.rem(core.$unit * -1) core.rem(core.$unit * -1) 0;
	margin: 0;
}

.post__preview-card-media {
	display: block;
	width: 100%;
}

.post__preview-card-meta {
	display: flex;
	line-height: inherit;
	font-size: 0.8em;
	position: relative;
	align-items: center;
	margin: core.rem(core.$unit) 0 !important;
}

.post__preview-card-author-name {
	display: flex;
	gap: core.rem(core.$unit);
	align-items: center;
	margin: 0 !important;
}

.post__preview-card-author-avatar {
	background-color: core.$color-tangerine;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: core.rem(core.$unit * 3);
	aspect-ratio: 1 / 1;
	order: -1;
}

.post__preview-card-date {
	margin-block: 0 !important;
	margin-inline-start: 0.5em;
	&::before {
		content: "•";
		margin-inline-end: 0.5em;
	}
}

.post__preview-card-link {
	color: inherit !important;
	text-decoration: none;
}





// 15. ColumnList
// ---
.post__columnList {}

.post__columnList--col-2 {
	// @include core.mq(core.$bp-tablet-v) {
	@include core.mq(500) {
		columns: 2;
		gap: 60px;
	}
}
