@use 'core/core';

.social {
	@extend %unlist;

	display: flex;
	flex-wrap: wrap;
	gap: core.rem(core.$unit);

	@include core.mq(core.$bp-desktop) {
		gap: core.rem(core.$unit * 2);
	}
}

.social__item {}

.social__link {
	background-color: core.$color-correct-blue;
	display: block;
	height: core.rem(1);
	overflow: hidden;
	padding-top: core.rem(core.$unit * 5 - 1);
	width: core.rem(core.$unit * 5);
	position: relative;
	overflow: hidden;

	&::before {
		position: absolute;
		left: 0;
		top: 100%;
		width: 100%;
		height: 100%;
		content: '';
		transition: top ease .5s;
	}

	&::after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-position: center;
		background-repeat: no-repeat;
		background-size: core.rem(core.$unit * 3) auto;
	}

	&:hover {
		&::before {
			top: 0;
		}
	}
}

.social__link--mastodon {
	&::before {
		background-color: core.$color-mastodon;
	}

	&::after {
		background-image: core.img('mastodon.svg', core.$theme-icons);
	}
}

.social__link--pixelfed {
	&::before {
		background-image: linear-gradient(to right, core.$color-pixelfed-1, core.$color-pixelfed-2);
	}

	&::after {
		background-image: core.img('pixelfed.svg', core.$theme-icons);
	}
}

.social__link--youtube {
	&::before {
		background-color: core.$color-youtube;
	}

	&::after {
		background-image: core.img('youtube.svg', core.$theme-icons);
	}
}

.social__link--veedeo {
	&::before {
		background-image: linear-gradient(to right, core.$color-veedeo-1, core.$color-veedeo-2);
	}

	&::after {
		background-image: core.img('veedeo.svg', core.$theme-icons);
	}
}

.social__link--twitch {
	&::after {
		background-image: core.img('twitch.svg', core.$theme-icons);
	}

	&::before {
		background-color: core.$color-twitch;
	}
}

.social__link--github {
	&::after {
		background-image: core.img('github.svg', core.$theme-icons);
	}

	&::before {
		background-color: core.$color-github;
	}
}

.social__link--codeberg {
	&::after {
		background-image: core.img('codeberg.svg', core.$theme-icons);
	}

	&::before {
		background-color: core.$color-codeberg;
	}
}

.social__link--email {
	&::after {
		background-image: core.img('at-sign.svg', core.$theme-icons);
	}

	&::before {
		background-color: core.$color-at-sign;
	}
}

.social__link--xmpp {
	&::after {
		background-image: core.img('xmpp.svg', core.$theme-icons);
	}

	&::before {
		background-color: core.$color-xmpp;
	}
}
