@use 'core/core';

.lemon__footer-content {
	background-color: core.$color-black;
	color: core.$color-white;
	grid-area: content;
	padding: core.rem(core.$unit * 2);
}

.lemon__license {
	@include core.font(footer);

	align-items: center;
	display: flex;
	gap: core.rem( calc(core.$unit/2) );
	justify-content: center;
	margin: 0;
}

.lemon__cc {
	background: core.img('license.svg', core.$theme-icons) left top no-repeat;
	background-size: 100% auto;
	display: block;
	height: core.rem(1);
	overflow: hidden;
	padding-top: core.rem(15);
	width: core.rem(45);
}

.lemon__author {
	color: inherit;
}
