.header {
	.wrapper {
		align-items: center;
		box-sizing: border-box;
		display: flex;
		padding: rem($page-gutter) 0;

		@include mq($bp-tablet) {
			height: rem(100);
		}
	}
}

.header__brand {
	color: inherit;
	text-decoration: none;
}
