@use "core/core";

.lemon {
	margin: 0;
	background-color: core.$color-white;
	background-image: linear-gradient(
		to bottom,
		core.$color-athens-gray,
		core.$color-white core.rem(400)
	);
}

.wrapper {
	@include core.grid;

	margin: 0 core.rem(core.$page-mobile);

	@include core.mq(core.$bp-tablet-v) {
		margin: 0 core.rem(core.$page-tablet);
	}

	@include core.mq(core.$bp-desktop) {
		margin: 0 auto;
		max-width: core.rem(core.$page-max-width);
	}
}

.lemon__container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100dvh;
}

.lemon__main {
	flex-grow: 1;
}
