// PAGE

body {
	margin: 0;
}

.page {
	display: grid;
	grid-template-areas: "header"
	"main"
	"footer";
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.page__header {
	@include z(header);

	grid-area: header;
	position: relative;
}

.page__main {
	@include z(content);

	grid-area: main;
	position: relative;
}

.page__footer {
	grid-area: footer;
}




// CONTENT
.wrapper {
	margin: 0 rem($page-margin-mobile);
	max-width: rem($page-max-width);
	z-index: $bp-desktop;

	@include mq($bp-tablet) {
		margin: 0 rem($page-margin-tablet);
	}
	@include mq($bp-desktop) {
		margin: 0 auto;
	}
}
