a {
	color: $color-link;
}



.home-posts__year {
	margin: 0;
}

.post__title {
	margin: 0;
}


.lemon__container {
	// overflow: hidden;
}

.content__inner {
	grid-area: content;
}


.about__content {
	grid-area: content;
}
