/* PrismJS 1.25.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+git+json+markdown+markup-templating+php+regex+scss+sql+twig&plugins=toolbar+copy-to-clipboard */
code[class*=language-], pre[class*=language-] {
  color: #f8f8f2;
  background: 0 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-], pre[class*=language-] {
  background: #272822;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #8292a2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.constant, .token.deleted, .token.property, .token.symbol, .token.tag {
  color: #f92672;
}

.token.boolean, .token.number {
  color: #ae81ff;
}

.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
  color: #a6e22e;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url, .token.variable {
  color: #f8f8f2;
}

.token.atrule, .token.attr-value, .token.class-name, .token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.important, .token.regex {
  color: #fd971f;
}

.token.bold, .token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: 0.3em;
  right: 0.2em;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
  cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a, div.code-toolbar > .toolbar > .toolbar-item > button, div.code-toolbar > .toolbar > .toolbar-item > span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0 0.5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus, div.code-toolbar > .toolbar > .toolbar-item > a:hover, div.code-toolbar > .toolbar > .toolbar-item > button:focus, div.code-toolbar > .toolbar > .toolbar-item > button:hover, div.code-toolbar > .toolbar > .toolbar-item > span:focus, div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: inherit;
  text-decoration: none;
}

.home-posts__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* bitter-300 - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/bitter/bitter-v32-latin-300.woff2") format("woff2"), url("../fonts/bitter/bitter-v32-latin-300.woff") format("woff");
}
/* bitter-regular - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/bitter/bitter-v32-latin-regular.woff2") format("woff2"), url("../fonts/bitter/bitter-v32-latin-regular.woff") format("woff");
}
/* bitter-500 - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/bitter/bitter-v32-latin-500.woff2") format("woff2"), url("../fonts/bitter/bitter-v32-latin-500.woff") format("woff");
}
/* bitter-600 - latin */
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/bitter/bitter-v32-latin-600.woff2") format("woff2"), url("../fonts/bitter/bitter-v32-latin-600.woff") format("woff");
}
.lemon {
  color: #121212;
  font-family: Bitter, serif;
  font-size: 100%;
  font-weight: 300;
}

div.code-toolbar {
  font-size: 0.75em;
}

div.code-toolbar > .toolbar {
  top: 0;
  right: 0.3125rem;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  font-family: consolas, monaco, "andale mono", "ubuntu mono", monospace;
  padding: 0.1875rem 0.9375rem;
  cursor: pointer;
}

.lemon {
  margin: 0;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), color-stop(25rem, #fff));
  background-image: linear-gradient(to bottom, #dfdfdf, #fff 25rem);
}

.wrapper {
  margin: 0 1.5rem;
}

.lemon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.lemon__main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.lemon__header {
  background-color: #fff;
  padding: 1.25rem 0;
}

.lemon__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lemon__brand-link {
  color: inherit;
  -webkit-column-gap: 0.75rem;
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
}
.lemon__brand-link::before {
  background: url("../images/brand/lemon.svg") left top no-repeat;
  background-size: 100% auto;
  content: "";
  height: 2rem;
  width: 2.5rem;
}

.lemon__brand-name {
  font-size: 1.125rem;
  line-height: 177.7777777778%;
  font-weight: 500;
}

.lemon__footer-content {
  background-color: #212121;
  color: #fff;
  grid-area: content;
  padding: 1rem;
}

.lemon__license {
  font-size: 0.875rem;
  line-height: 114.2857142857%;
  font-weight: 400;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.lemon__cc {
  background: url("../images/layout/icons/license.svg") left top no-repeat;
  background-size: 100% auto;
  display: block;
  height: 0.0625rem;
  overflow: hidden;
  padding-top: 0.9375rem;
  width: 2.8125rem;
}

.lemon__author {
  color: inherit;
}

a {
  color: #007aff;
}

.home-posts__year {
  margin: 0;
}

.post__title {
  margin: 0;
}

.content__inner {
  grid-area: content;
}

.about__content {
  grid-area: content;
}

.home-posts__content {
  grid-area: content;
}

.home-posts__item + .home-posts__item {
  margin-top: 1rem;
}

.home-posts {
  margin-top: 1rem;
}

.home-posts__year {
  border: 1px solid #dfdfdf;
  height: 3rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.375rem;
  line-height: 150%;
  font-weight: 500;
}

.home-post {
  min-height: 7.5rem;
  height: 100%;
}

.home-post__link {
  background: #ffcc00;
  display: block;
  height: 100%;
  min-height: inherit;
  position: relative;
}

.home-post__title {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 600;
  bottom: 0rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  text-align: right;
  width: 100%;
  z-index: 1;
}

.home-post__mark {
  background-color: #212121;
  color: #fff;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.15625rem 0.5rem;
}

.home-post__cover {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.post__header .content__inner {
  position: relative;
}

.post__cover {
  background-color: #ffcc00;
}

.post__featured-image {
  width: 100%;
  display: block;
}

.post__cover--no-img {
  min-height: 16rem;
}

.post__title {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 500;
}

.post__title-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post__title-mark-item {
  background-color: #212121;
  color: #fff;
  padding: 0 0.3125rem;
}

.post__back {
  position: absolute;
  background: url("../images/layout/icons/back.svg") center no-repeat #dfdfdf;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 0.0625rem;
  padding-top: 2.1875rem;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.post__meta {
  font-size: 0.875rem;
  line-height: 114.2857142857%;
  margin-bottom: 1rem;
}

.post__meta-time {
  margin: 1rem 0 0.5rem;
}

.post__published-date {
  margin-right: 0.75rem;
}

.post__reading-time {
  background: url("../images/layout/icons/timer.svg") left center no-repeat;
  background-size: 1rem;
  padding-left: 1.25rem;
}

.post__reading-time-abbr {
  text-decoration-color: #007aff;
}

.post__credits {
  margin: 0;
}
.post__credits .post__link {
  color: inherit;
  -webkit-text-decoration: underline #007aff;
  text-decoration: underline #007aff;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}
.post__credits .post__link:hover {
  color: #007aff;
}

.post__media {
  margin: 2rem 0;
}

.post__media-image {
  display: block;
  max-width: 100%;
  width: 100%;
}

.post__media-caption {
  font-size: 0.875rem;
  line-height: 114.2857142857%;
  margin-top: 0.5rem;
}

.post__media--center .post__media-image,
.post__media--center .post__media-caption {
  margin-left: auto;
  margin-right: auto;
}

.post__media--mini .post__media-image {
  max-width: 6rem;
}

.post--entry .content hr {
  border: 0;
  width: 2rem;
  height: 2rem;
  background: url("../images/layout/icons/divider.svg") center no-repeat #ffcc00;
  margin: 1.5rem auto;
}

.post__tldr {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: 5.1875rem 1fr;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.post__tldr-caption {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 500;
  background-color: #ffcc00;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-left: -1.5rem;
  min-height: 3rem;
}

.post__tldr-content {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.post__tldr-paragraph {
  margin: 0;
}

.post__tldr-paragraph + .post__tldr-paragraph {
  margin-top: 1em;
}

.post__quote {
  margin: 1.5rem 0;
  padding: 0.75rem 0 1.5rem 1.5rem;
  position: relative;
}
.post__quote::before {
  background: rgba(223, 223, 223, 0.5);
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100vw;
  pointer-events: none;
  z-index: -1;
}
.post__quote::after {
  content: "";
  background: url("../images/layout/icons/quotes.svg") left bottom no-repeat #212121;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5rem;
  height: 2.25rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.post__quote-block {
  font-size: 1rem;
  line-height: 170%;
  font-weight: 400;
  margin: 0;
}

.post__quote-paragraph {
  margin: 0;
}

.post__quote-paragraph + .post__quote-paragraph {
  margin-top: 1em;
}

.post__quote-caption {
  font-size: 0.875rem;
  line-height: 130%;
  margin-top: 0.5rem;
  text-align: end;
}

.post__ya {
  margin: 3rem 0 5rem;
  text-align: center;
}

.post__ya-image {
  width: 3.5rem;
  height: 3.5rem;
}

.content__social-comment-link {
  font-size: 0.9375rem;
  line-height: 120%;
  font-weight: 400;
  display: block;
  margin: 0 -0.75rem 1.5rem;
  text-decoration: none;
}

.content__social-comment {
  display: grid;
  grid-template-columns: 3.3125rem 1fr;
  background-color: rgba(223, 223, 223, 0.5);
}

.content__social-comment-icon {
  aspect-ratio: 1;
  background: url("../images/layout/icons/mail.svg") center no-repeat #007aff;
  position: relative;
}
.content__social-comment-icon::after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  width: 0;
  height: 0;
  border: 0.5rem solid #007aff;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.content__social-comment-info {
  margin: 0;
  padding: 0.5rem;
}

.content__social-comment-clickbait {
  color: #121212;
  display: block;
}

.home-salute {
  margin: 1rem 0;
}

.home-salute__container {
  background: -webkit-gradient(linear, left top, right top, from(#cdcdcd), to(#b6b6b6));
  background: linear-gradient(to right, #cdcdcd, #b6b6b6);
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7.5rem;
}

.home-salute__avatar {
  margin: auto;
  height: 5rem;
}

@media screen and (min-width: 48em) {
  .wrapper {
    display: grid;
    gap: 1rem;
    grid-template-areas: "left content content content content right";
    grid-template-columns: repeat(6, 1fr);
  }
  .wrapper {
    margin: 0 3rem;
  }
  .lemon__brand {
    grid-area: content;
  }
  .lemon__brand-link {
    margin-left: -3.25rem;
  }
  .home-posts__item + .home-posts__item {
    margin-top: 0;
  }
  .home-posts__year {
    font-size: 1.625rem;
    line-height: 150%;
  }
  .home-posts__year {
    height: 3.5rem;
  }
  .home-post__title {
    font-size: 1.5rem;
    line-height: 150%;
  }
  .home-post__title {
    bottom: 0.03125rem;
  }
  .home-post__mark {
    padding: 0.25rem 0.5rem;
  }
  .home-posts .home-posts__items {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 7.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 7.5rem;
  }
  .home-posts .home-posts__item {
    grid-column: span 2;
  }
  .post__title {
    font-size: 2.25rem;
    line-height: 3.1875rem;
  }
  .post__back {
    padding-top: 3.125rem;
    width: 3.25rem;
  }
  .post--entry .content hr {
    margin: 2rem auto;
  }
  .post__tldr {
    margin: 2rem 0;
    grid-template-columns: repeat(4, 1fr);
  }
  .post__tldr-caption {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 0;
    margin-left: 0;
    min-height: 3.5rem;
  }
  .post__tldr-content {
    font-size: 1.125rem;
    line-height: 150%;
  }
  .post__tldr-content {
    grid-column: span 3;
  }
  .post__quote {
    margin: 2rem 0;
    padding: 1.5rem 0 1.5rem 4.5rem;
    grid-area: content;
  }
  .post__quote::after {
    width: 3rem;
    height: 3.5rem;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .post__quote-block {
    font-size: 1.125rem;
    line-height: 170%;
  }
  .post__quote-caption {
    margin-top: 1rem;
  }
  .post__ya {
    margin: 3.5rem 0 5rem;
  }
  .content__social-comment-link {
    font-size: 1rem;
    line-height: 160%;
  }
  .content__social-comment-link {
    grid-area: content;
    margin: 0 0 2rem;
  }
  .content__social-comment {
    grid-template-columns: 5.25rem 1fr;
  }
  .content__social-comment-icon {
    background-size: 2rem;
  }
  .content__social-comment-icon::after {
    border-width: 0.75rem;
  }
  .content__social-comment-info {
    padding: 1rem;
  }
  .home-salute__container {
    height: 9.5rem;
  }
  .home-salute__avatar {
    height: 6rem;
  }
}

@media screen and (min-width: 80em) {
  .wrapper {
    gap: 1.5rem;
    grid-template-areas: "left content content content content content content right";
    grid-template-columns: repeat(8, 1fr);
  }
  .wrapper {
    margin: 0 auto;
    max-width: 73rem;
  }
  .home-posts {
    margin-top: 1.5rem;
  }
  .home-posts__year {
    font-size: 2rem;
    line-height: 150%;
  }
  .home-posts__year {
    height: 4rem;
    margin-bottom: 1.5rem;
  }
  .home-post--featured .home-post__title {
    font-size: 2rem;
    line-height: 143.75%;
  }
  .home-posts .home-posts__items {
    gap: 1.5rem;
    grid-auto-rows: 8.5rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 8.5rem;
  }
  .home-posts--latest .home-posts__items {
    grid-template-rows: 19.5rem;
  }
  .home-posts--latest .home-posts__item:nth-child(1) {
    grid-column: span 4;
  }
  .home-posts--latest .home-posts__item:nth-child(2) {
    grid-column: span 2;
  }
  .home-posts--2022 .home-posts__item:nth-child(1) {
    grid-row: span 2;
    grid-column: span 4;
  }
  .home-posts--2022 .home-posts__item:last-child {
    grid-row: 2/4;
    grid-column: 5/7;
  }
  .post__title {
    font-size: 3rem;
    line-height: 4.5625rem;
  }
  .post__back {
    padding-top: 4.5rem;
    width: 4.5625rem;
  }
  .post__meta {
    font-size: 1rem;
    line-height: 150%;
  }
  .post__meta {
    margin-bottom: 1rem;
  }
  .post__meta-time {
    margin-top: 1.5rem;
  }
  .post__published-date {
    margin-right: 1.25rem;
  }
  .post__media {
    margin: 2.5rem 0;
  }
  .post__media-caption {
    font-size: 1rem;
    line-height: 150%;
  }
  .post__tldr {
    grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    margin: 2.5rem 0;
  }
  .post__tldr-caption {
    font-size: 2rem;
    line-height: 150%;
  }
  .post__tldr-caption {
    grid-column: span 2;
    min-height: 4.5rem;
  }
  .post__tldr-content {
    font-size: 1.375rem;
    line-height: 150%;
  }
  .post__tldr-content {
    grid-column: span 4;
  }
  .post__quote {
    margin: 3.5rem 0;
    padding: 2rem 0 2rem 5.5rem;
  }
  .post__quote::after {
    width: 3.5rem;
    height: 4rem;
  }
  .post__quote-block {
    font-size: 1.375rem;
    line-height: 170%;
  }
  .post__quote-caption {
    font-size: 1rem;
    line-height: 130%;
  }
  .post__quote-caption {
    margin-top: 0.5rem;
  }
  .post__ya {
    margin: 4rem 0 4.5rem;
  }
  .content__social-comment-link {
    font-size: 1.375rem;
    line-height: 170%;
  }
  .content__social-comment-link {
    grid-area: unset;
    grid-column: 3/span 4;
    margin-bottom: 2.5rem;
  }
  .content__social-comment {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
  }
  .content__social-comment-icon {
    background-size: 3rem;
  }
  .content__social-comment-icon::after {
    border-width: 1rem;
  }
  .content__social-comment-info {
    grid-column: span 3;
    padding: 1.5rem 1.5rem 1.5rem 0;
  }
  .home-salute {
    margin: 1.5rem 0;
  }
  .home-salute__container {
    height: 16rem;
  }
  .home-salute__avatar {
    height: 11.5rem;
  }
}

@media screen and (min-width: 80em) and (min-height: 48em) {
  .lemon__brand-link::before {
    height: 3rem;
    width: 3.75rem;
  }
  .lemon__brand-link {
    margin-left: -4.5rem;
  }
  .lemon__brand-name {
    font-size: 1.5rem;
    line-height: 200%;
  }
}

@media (min-width: em(768)) and (max-width: em(1279)) {
  .home-posts--latest .home-posts__items {
    grid-template-rows: 12.5rem;
  }
  .home-posts--latest .home-posts__item {
    grid-row: span 2;
  }
  .home-posts--latest .home-posts__item:nth-child(1) {
    grid-column: span 2;
  }
  .home-posts--latest .home-posts__item:nth-child(2) {
    grid-column: span 2;
  }
  .home-posts--2022 .home-posts__item:nth-child(2n+2) {
    grid-row: span 2;
  }
  .home-posts--2022 .home-posts__item:nth-last-child(1) {
    grid-row: span 1;
  }
  .home-posts--2022 .home-posts__item:nth-last-child(2) {
    grid-row: span 2;
  }
  .home-posts--2022 .home-posts__item:nth-last-child(3) {
    grid-row: span 1;
  }
  .home-posts--2022 .home-posts__item:nth-last-child(4) {
    grid-row: span 2;
  }
  .home-posts--2021 .home-posts__item:nth-child(1) {
    grid-row: span 2;
  }
}
/*# sourceMappingURL=main.css.map */
