// Colors
$color-black: #212121;
$color-pure-black: #121212;
$color-white: #ffffff;
$color-athens-gray: #dfdfdf;
$color-correct-blue: #007aff;
$color-tangerine: #ffcc00;
$color-safety-orange: #ff9900;
