// MIXINS

@mixin mq($pixels, $width: min-width) {
	@media screen and ($width: em($pixels)) {
		@content;
	}
}





@mixin z($level, $list: $levels) {
	z-index: index($list, $level);
}





// TODO: Mejorar esto
@mixin screen-reader-only() {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0 !important;
	overflow: hidden;
	position: absolute;
}