// COLORS
$color-black: #212121;
$color-white: #fff;
$color-athens-gray: #dfdfdf;
$color-mercury: #E5E5E5;
$color-correct-blue: #008aff;
$color-yellow-orange-juice: #ffcc00;
$color-yellow-sea: #ff9900; 

$color-text: $color-black;
$color-link: $color-correct-blue;
$color-light-border: $color-athens-gray;





// RADIUS
$radius: 4;





// FONTS
$font-size: 16;
$font-alt: serif;
$font-family: Bitter, $font-alt;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;





// PAGE
$page-margin-mobile: 30;
$page-margin-tablet: 50;
$page-max-width: 900;
$page-gutter: 20;





// BREAKPOINT
$bp-tablet: 768;
$bp-desktop: $page-max-width + $page-margin-tablet * 2;
$bp-desktop-hd: 1440;




// LEVELS
$levels: content, menu, header;





// THEME
$theme: '../images/layout/';
$theme-brand: '../images/brand/';