// COLORS
$color-black: #212121;
$color-white: #fff;
$color-athens-gray: #dfdfdf;
$color-correct-blue: #007aff;
$color-tangerine: #ffcc00;
$color-safety-orange: #ff9900;
$color-dev-green-sheen: #64B6AC;
$color-dev-fiery-rose: #ec5766;
$color-dev-blue-munsell: #0892A5;

$color-text: $color-black;
$color-link: $color-correct-blue;
$color-light-border: $color-athens-gray;
$color-draft: $color-dev-green-sheen;
$color-future: $color-dev-fiery-rose;



// UNITS
$unit: 8;





// FONTS
$font-size: 16;
$font-alt: serif;
$font-family: Bitter, $font-alt;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;






// BREAKPOINT
$bp-tablet-v: 768;
$bp-tablet-h: 1024;
$bp-desktop: 1280;





// PAGE
$page-mobile: $unit * 3; // 24
$page-tablet: $unit * 6; // 48
$page-desktop: $unit * 7; // 56
$page-max-width: $bp-desktop - $page-desktop * 2;
$page-gap: $unit * 2;
$page-gap-desktop: $unit * 3;
$page-cols-tablet: 6;
$page-cols-desktop: 8;
$post-title-offset: 0;
$post-title-offset-tablet: .5;



// LEVELS
$levels: background, content, header;





// THEME
$theme-brand: '../images/brand/';
$theme-icons: '../images/layout/icons/'
