{%- macro test(title) -%}
	<h1>{{ title }}</h1>
	<p style="color:red; font-size:3em;">Yas!</p>
{%- endmacro -%}





{%- macro tldr(content) -%}
	<figure class="post__tldr">
		<figcaption class="post__tldr-caption">TL;DR</figcaption>
		<div class="post__tldr-content">
			<div class="post__tldr-content-inner">
				{%- for p in content -%}
					<p class="post__tldr-paragraph">{{ p | safe }}</p>
				{%- endfor -%}
			</div>
		</div>
	</figure>
{%- endmacro -%}





{%- macro quote(config) -%}
	<figure class="post__quote">
		<blockquote class="post__quote-block"{% if config.cite.url %} cite="{{ config.cite.url }}"{% endif %}>
			{%- for p in config.content -%}
				<p class="post__quote-paragraph">{{ p }}</p>
			{%- endfor -%}
		</blockquote>
		{%- if config.cite.work -%}
			<figcaption class="post__quote-caption">—{{ config.author }}
				, <cite class="post__quote-cite">{% if config.cite.url %}<a href="{{ config.cite.url }}">{% endif %}{{ config.cite.work }}{% if config.cite.url %}</a>{% endif %}</cite>
			</figcaption>
		{%- endif -%}
	</figure>
{%- endmacro -%}

{%- macro word(config) -%}
	<figure class="post__word">
		<dl class="post__word-block">
			<dt class="post__word-title">{{ config.word }}</dt>
			{%- if config.note -%}<dt class="post__word-note">{{ config.note }}</dt>{%- endif -%}
			{%- for item in config.content -%}
			<dd class="post__word-definition">{{ item.gender | getWordGender | safe }}{{ item.def }}</dd>
			{%- endfor -%}
		</dl>
		{%- if config.synonyms -%}<p class="post__word-synonyms">{{ config.synonyms | getWordSynonyms | safe }}</p>{%- endif -%}
	</figure>
{%- endmacro -%}


{%- macro img(config) -%}
<figure class="post__media post__media--{{ config.mode }}">

	{%- if config.link.url -%}
		<a href="{{ config.link.url }}">
	{%- endif -%}
	<img src="{{ config.src }}" alt="{{ config.alt }}" class="post__media-image" {% if config.max_width %}style="max-width:{{ config.max_width }}px;"{% endif %} {% if config.title %}title="{{ config.title }}"{% endif %}>
	{%- if config.link.url -%}
		</a>
	{%- endif -%}
	{%- if config.caption -%}
		<figcaption class="post__media-caption {{ 'sr-only' if config.mode === 'mini' }}" {% if config.max_width %}style="max-width:{{ config.max_width }}px;"{% endif %}>{{ config.caption | safe }}</figcaption>
	{%- endif -%}
</figure>
{%- endmacro -%}


{%- macro video(config) -%}
<iframe class="post__media post__media--iframe" title="{{ config.title }}" width="{{ config.width }}" src="{{ config.src }}" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" style="aspect-ratio: {{ config.aspect_ratio }}"></iframe>
{%- endmacro -%}


{%- macro dialog(config) -%}
{%- set me = {
	id: 'chuck',
	name: 'Chuck!'
} -%}
<figure class="post__dialogue">
{%- for text in config.content -%}
	<p class="post__dialogue-item">
		<b class="post__dialogue-user post__dialogue-user--{{ config.author.id | default(me.id) }}">{{ config.author.name | default(me.name) }}:</b>
		<span class="post__dialogue-text">{{ text }}</span>
	</p>
{%- endfor -%}
</figure>
{%- endmacro -%}

