<a href="https://librecounter.org/referer/show" target="_blank" class="librecounter" aria-hidden="true" title="Estadísticas con LibreCounter.org">
	{% if (settings.mode === 'pro') %}
		<img src="https://librecounter.org/outline-white.svg" referrerPolicy="unsafe-url"/>
	{% else %}
		<img class="librecounter__media" src="/assets/images/_dev/librecounter/outline-white.svg" referrerPolicy="unsafe-url"/>
	{% endif %}
</a>