<div class="home-salute">
	<div class="wrapper">
		<div class="home-salute__container">
			<img src="/assets/images/me/home.png" alt="Autocaricatura en blanco y negro, con parche, sonriendo orgulloso y con un bocadillo que dice 'Hi'" class="home-salute__avatar">
		</div>
	</div>
</div>
