<!DOCTYPE html>
<html lang="{{ settings.lang }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ settings.siteName }}</title>
  <link rel="stylesheet" href="assets/css/main.min.css">
</head>
<body>
  {{ content | safe }}

  <footer>
    {{ settings.year }}
  </footer>
</body>
</html>