<!DOCTYPE html>
<html lang="{{ settings.lang }}">
<head>
  {% include "../page-sections/head.njk" %}
</head>
<body class="lemon">
  <div class="page">
    <header class="page__header">
      <div class="wrapper">Header</div>
    </header>
    <main class="page__main">
      <div class="wrapper">
        Main
        {{ content | safe }}
      </div>
    </main>
    {% include "../page-sections/footer.njk" %}
  </div>
</body>
</html>