<!DOCTYPE html>
<html lang="{{ settings.lang }}">
<head>
	{% set pageType = 'page' %}
	{% include "page-sections/head.njk" %}
	{% if redirect %}
		<meta http-equiv="refresh" content="0; url={{ redirect }}" />
	{% endif %}
</head>
<body class="lemon js__lemon">
	{% if not redirect %}
	<div class="lemon__container">
		{% include "page-sections/header.njk" %}
		<main class="lemon__main main">
			{{ content | safe }}
		</main>
		{% include "page-sections/footer.njk" %}
	</div>
	{% endif %}
</body>
</html>
