<!DOCTYPE html>
<html lang="{{ settings.lang }}">
	<head>
		{% set pageType = 'post' %}
		{% include "../page-sections/head.njk" %}
	</head>
	<body class="lemon js__lemon">
		<div class="lemon__container">
			{% include "../page-sections/header.njk" %}
			<main class="lemon__main main">
				<article class="post post--entry">

					{% include "components/post/header.njk" %}
					<div class="content">
						<div class="wrapper">
							<div class="content__inner post__content">
								{{ content | safe }}
								     {# content__inner #}
							</div>
						</div>
					</div>
					<footer class="post__footer">

						<figure class="post__ya">
							<img class="post__ya-image" src="img/{{ ya_image }}" alt="{{ ya_alt }}">
						</figure>

						<div class="wrapper">
							{% include "components/post/comments.njk" %}
						</div>
					</footer>
				</article>
			</main>
			{% include "../page-sections/footer.njk" %}
		</div>
	</body>
</html>
