<!DOCTYPE html>
<html lang="{{ settings.lang }}">
<head>
  {% set pageType = 'post' %}
  {% include "../page-sections/head.njk" %}
</head>
<body class="lemon">
  <div class="page">
    {% include "../page-sections/header.njk" %}
    <main class="page__main main">
      <article class="post post--entry">
        <div class="post__cover">
          <img class="post__featured-image" src="img/{{ featured_image }}" alt="{{ featured_alt }}">
        </div>
        <div class="content">
          <div class="wrapper">
            <div class="content__inner">

              <h1>{{ title }}</h1>

              {% set data = { reading_time: reading_time, date: date } %}
              {% include '../../_templates/components/meta-info.njk' %}
              {{ content | safe }}

            </div>
          </div>
        </div>
        <footer class="post__footer">
          <img class="post__ya" src="img/{{ ya_image }}" alt="{{ ya_alt }}">

          <div class="wrapper">
            <div class="content__social-comment">
                <a href="https://twitter.com/intent/tweet?text=→&hashtags={{ title | hashtag }}&url=https://sidiostedalimones.com{{page.url}}&via=oneeyedman" class="content__social-comment-link" target="_blank" rel="noopener noreferrer">{{ clickbait if clickbait else '¿Qué te ha parecido?' }}</a>
              </div>
          </div>          
        </footer>
      </article>
    </main>
    {% include "../page-sections/footer.njk" %}
  </div>
</body>
</html>