---
permalink: /robots.txt
---
# Blocks OpenAi
User-agent: GPTBot
Disallow: /
User-agent: ChatGPT-User
Disallow: /

# Blocks cohere-ai
User-agent: cohere-ai
Disallow: /

# Blocks Google Bard AI
User-agent: Google-Extended
Disallow: /

# Blocks Googlebot
User-agent: Googlebot
Disallow: /

# Blocks Mediapartners-Google
User-agent: Mediapartners-Google
Disallow: /

# Blocks Googlebot-News
User-agent: Googlebot-News
Disallow: /

# Blocks Googlebot-Image
User-agent: Googlebot-Image
Disallow: /

# Blocks AdsBot-Google
User-agent: AdsBot-Google
Disallow: /

# Blocks Twitterbot
User-agent: Twitterbot
Disallow: /

# Blocks Common Crawl
User-agent: CCBot
Disallow: /

# Blocks Bing
User-agent: Bingbot
Disallow: /

# Blocks Yandex
User-agent: Yandex
Disallow: /

# Blocks SeznamBot
User-agent: SeznamBot
Disallow: /

# Blocks SemrushBot
User-agent: SemrushBot
Disallow: /

# Blocks msnbot
User-agent: msnbot
Disallow: /

# Blocks MJ12bot
User-agent: MJ12bot
Disallow: /

# Blocks Baiduspider
User-agent: Baiduspider
Disallow: /

# Blocks AhrefsBot
User-agent: AhrefsBot
Disallow: /

# Blocks YouBot
User-agent: YouBot
Disallow: /

# Blocks anthropic-ai
User-agent: anthropic-ai
Disallow: /

# Blocks Bytespider
User-agent: Bytespider
Disallow: /


# Blocks FacebookBot
User-agent: FacebookBot
Disallow: /

# Blocks omgili
User-agent: omgili
Disallow: /

# Blocks Applebot
User-agent: Applebot
Disallow: /

# Allow DuckDuckGo Stuff
User-agent: DuckDuckBot
User-agent: DuckDuckGo

