<a class="blogroll__link" href="{{link.url}}">
	<div class="blogroll-item">
		<p class="blogroll-item__title">{{ link.label | safe }}</p>
		<div class="blogroll-item__icon">
			<img src="{{ link.avatar | getBlogrollAvatar }}" alt="" class="blogroll-item__media">
		</div>
		<div class="blogroll-item__meta">
			{% for tag in link.tags %}
				<div class="blogroll-item__tag blogroll-item__tag--{{ tag | lower }}">{{ tag }}</div>
			{% endfor %}
			<div class="blogroll-item__author">{{ link.author }}</div>
		</div>
	</div>
</a>
