<section class="about__status">
	<div class="wrapper">
		<div class="about__content">
			<h2>En qué ando...</h2>
			<p>{{ hobbies.intro | safe }}</p>

			<ul class="hobbies">
				{% for hobby in hobbies.items %}
					<li class="hobbies__item">
						{% include 'components/about/hobby.njk' %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
