---
title: Estos no son los limones que buscas...
e404_cover_alt: Icono de imagen no encontrada (porque estamos en la página 404)
e404_bg_color: ffcc00
layout: layouts/base.njk
eleventyNavigation:
  key: 404
permalink: 404.html
---

<article class="e404">
	{% include "components/404/header.njk" %}

	<section class="e404__intro">
		<div class="wrapper">
			<div class="e404__content post__content post__content--no-featured">
				<h2 class="sr-only">Te cuento un poco de mi</h2>

				<p>Uno de los dos se ha perdido un poco, pero no pasa nada porque en el fondo, quién no está perdido?</p>

				<p>Desde esta página no hay mucha pérdida; puedes ir a la <a href="/">home</a> o a la <a href="/chuck">página sobre mi</a> :)</p>

			</div>
		</div>
	</section>

	<footer class="e404__footer post__footer">
		<figure class="post__ya">
			<img class="post__ya-image" src="./assets/images/brand/pixel-juicer.svg" alt="Icono en pixel art de la piza superior del icónico exprimidor de Braum. Con restos de pulpa">
		</figure>
	</footer>
</article>




