---
title: home
layout: layouts/base.njk
eleventyNavigation:
  key: home
---
<section class="latest-posts content" data-published="{{ settings.version }}" data-mode="{{ settings.mode }}">
  <div class="wrapper">
    <div class="content__inner">
      <ul class="latest-posts__items">
        {% for post in collections.blog | reverse %}
          <li class="latest-posts__item">
            <div class="post {{ 'post--draft' if post.data.draft }} {{ post.data.date | isFuture }}">
              <a class="post__link" href="{{ post.url }}">
                {% set data = { reading_time: post.data.reading_time, date: post.data.date, post: false } %}
                {% include './_templates/components/meta-info.njk' %}
                <h2 class="post__title">{{ post.data.title }}</h2>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>






