---
title: Hola, me llamo Chuck
about_bg_color: ffcc00
about_cover_image: about.png
about_cover_alt:
layout: layouts/base.njk
eleventyNavigation:
  key: chuck
---
<article class="about">
	{% include "components/about/header.njk" %}

	<section class="about__intro">
		<div class="wrapper">
			<div class="about__content post__content post__content--no-featured">
				<h2 class="sr-only">Te cuento un poco de mi</h2>

				<p>Soy un diseñador gráfico que aprendió a maquetar, y 27 años después soy un desarrollador front con mucho cuidado por el detalle y muy pendiente de la semántica y la accesibilidad.</p>

				<p>Sin embargo, aquí me gustaría escribir sobre temas más del día a día, series o pelis que haya visto, ese videojuego en el que ando atascado y algún que otro dibujo.</p>

				<p>Puedes encontrarme en:</p>

				{% include 'components/about/social.njk' %}
			</div>
		</div>
	</section>
	{% include 'components/about/hobbies.njk' %}
	{% include 'components/about/blogroll.njk' %}

</article>
